body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana,
    sans-serif;
}

main{
    display:inline-block;
    width:900px;
    margin-top: 100px;
    margin-left: calc(50% - 450px);
    
}

div{
    width: 370px;
    float:right;
    line-height: 25px;
}

h1{
    font-size: 45px;
    color:#333333;
    text-transform:capitalize;
}

p{
    color:#333333;
    font-size:20px;
    font-weight: lighter;
    text-transform: none;
    font-family: 'Times New Roman';
}

a {
    display:inline-block;
    border: solid;
    background-color: #2B94E1;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color:white;
    border-radius: 8px;
    font-size: 15px;
    font-weight: lighter;
}

.intro {
    background-color: white;
    border: 1px solid #2B94E1;
    padding: 6px;
    color:#2B94E1;
}

img{
    width:370px;
    height: 270px;
    float:left; 
}